body {
    font-family: sans-serif;
    background-color:white;
}


a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75px;
}

.social2{
    position: relative;
    top:7px;
}
